<h2>User info</h2>
<%= image_tag user.get_profile_image(100,100) %>
<p>name <%= user.name %></p>
<p>introduction <%= user.introduction %></p>

<p>
  <%= link_to  edit_user_path(user.id), class: :"btn btn-outline-secondary btn-block" do %>
  <i class="fas fa-user-cog"> 
  </i>
  <% end %>
</p>

<h2>New book</h2>
<%= form_with model: Book.new, url: '/books', method: :post do |f| %>
<p>
<%= f.label :Title %>
<%= f.text_field :title %>
</p>
<%= f.label :Opinion %>
<%= f.text_area :body %>
<%= f.submit 'Create Book' %>
<% end %>