<%= render 'userinfo', user: @user %>

<% @books.each do |book| %>

<p>
  <%= link_to user_path do %>
  <%= image_tag book.user.get_profile_image(100,100) %>
  <% end %>
</p>
  <p>Title</p>
  <span><%= link_to book.title, book_path(book.id) %></span>
  <p>Opinion</p>
  <span><%= book.body %></span>
  
<% end %>
<!--部分テンプレートファイルの呼び出しはrender [部分テンプレートファイルの指定], [ローカル変数]:[渡す値]-->