<h2>New Book</h2>
<%= form_with model: @book, url: '/books', method: :post do |f| %>
<p>
<%= f.label :Title %>
<%= f.text_field :title %>
</p>
<%= f.label :Opinion %>
<%= f.text_field :body %>
<%= f.submit 'Create Book' %>
<% end %>